*{

}
a.link{
    text-decoration: none !important;
    background-color: transparent !important;
    color: #ededed !important;
}

a.link:focus, a.link:before, a.link:active, a.link:hover{
    text-decoration: none !important;
    background-color: transparent !important;
    color: #cbb0c5 !important;

}
.bg-cover{
    background: url('../img/bg_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section{
    padding: 20% 10%;
    color: #ededed !important;
    text-align: center;
}
.section h1{
    font-size: 280%  !important;
    font-weight: 600  !important;
}
.section {
    font-size: 180%  !important;
}

.ft{
    color: #ededed !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: right;
}

.title{
    margin-top: 10%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}