*{

}

a.link{
    text-decoration: none !important;
    background-color: transparent !important;
    color: #ededed !important;
}

a.link:focus, a.link:before, a.link:active, a.link:hover{
    text-decoration: none !important;
    background-color: transparent !important;
    color: #cbb0c5 !important;

}
.bg-cover{
    background: url('../img/bg_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section{
    padding: 20% 10%;
    color: #ededed !important;
    text-align: center;
}
.section h1{
    font-size: 280%  !important;
    font-weight: 600  !important;
}
.section {
    font-size: 180%  !important;
}

.ft{
    color: #ededed !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.navbar{
    margin-bottom: 0 !important;
    z-index: 1000;
}

.row{
    border: 1px solid #ddd;
    border-radius: 4px;

}
.border{
    border-right: 1px solid #ddd;
}

.pd{
    padding: 0 3%;
}

.footer {
    width: 100%;
    padding: 1% 0;
    background: #e0e0e0;
    position: relative;
}

.ecc{
    padding: 3% 5%;
}

.modal-content{
    text-align: center !important;
    text-align: -webkit-center !important;
}
.modal-footer{
    text-align: center !important;
}

.navbar-btn{
    float: right !important;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: -1;
    position: fixed;
    right: 250px;
    top: 0;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #62328a !important;
    color: #ffffff !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a {
    text-decoration: none;
    color: #ffffff !important;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    color: #d3cad4 !important;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-right: 0;
    }

    #wrapper.toggled {

    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}